<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProcessServlet</servlet-name>
    <servlet-class>servlet.ProcessServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentRegister</servlet-name>
    <servlet-class>servlet.StudentRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherRegister</servlet-name>
    <servlet-class>servlet.TeacherRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginProcess</servlet-name>
    <servlet-class>servlet.LoginProcess</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EntryCourse</servlet-name>
    <servlet-class>servlet.EntryCourse</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChooseCourse</servlet-name>
    <servlet-class>servlet.ChooseCourse</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyScore</servlet-name>
    <servlet-class>servlet.ModifyScore</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>ProcessServlet</servlet-name>
    <url-pattern>/ProcessServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentRegister</servlet-name>
    <url-pattern>/StudentRegister.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherRegister</servlet-name>
    <url-pattern>/TeacherRegister.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginProcess</servlet-name>
    <url-pattern>/LoginProcess.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EntryCourse</servlet-name>
    <url-pattern>/EntryCourse.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChooseCourse</servlet-name>
    <url-pattern>/ChooseCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyScore</servlet-name>
    <url-pattern>/ModifyScore</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
