/* css reset */

html {
    height: 100%;
}

body {
    padding: 90px 0px 50px;
    margin: 0px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    background: #EDF8FA ;
}


/* css header */
.background_img{
	opacity: 0.3;
	width:100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
._name {
    color: #fff;
    z-index: 2;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    position: absolute;
    right: 160px;
    top: 45px;
}

.header {
    height: 90px;
    width: 100%;
    border-bottom: 3px solid #4859A6;
    background: #588EC5;
    text-align: center;
    position: fixed;
    top: 0px;
    box-sizing: border-box;
}

.header .img-box {
    background: #588EC5;
    height: 86px;
    width: 96px;
    overflow: hidden;
}

.header img {
    background: #588EC5;
    height: 86px;
    width: auto;
}

.header h1 {
    color: white;
    line-height: 86px;
    margin: 0px;
}

.header .img-box,
.header h1 {
    display: inline-block;
    vertical-align: middle;
}


/* css foot */

.foot {
    height: 40px;
    background: #588EC5;
    text-align: center;
    border-top: 2px solid #4859A6;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

.foot span {
    line-height: 40px;
    margin: 0px;
}


/* css body */

.body {
        width: 100%;
    position: absolute;
    box-sizing: border-box;
    bottom: 37px;
    font: 16px/20px "Times New Roman";
    top: 88px;
}

.body .indiv-info,
.body .class-info,
.body .indiv-class-info {
    border: 6px solid #588EC5;
    box-sizing: border-box;
    position: absolute;
    padding: 10px 18px;
}

.body .indiv-info {
    height: 60%;
    width: 30%;
    left: 0px;
    top: 0px;
}

.body .class-info {
    height: 40%;
    width: 30%;
    left: 0px;
    bottom: 0px;
}

.body .indiv-class-info {
    padding: 10px 30px;
    height: 100%;
    width: 70%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: white;
}


.submit_choosed_class{
	position: absolute;
    right: 78px;
    margin: 10px;
    top: 10px;
}
form.course_entry{
	width: 400px;
	margin: 20px auto;
}
form.course_entry .input-group{
	margin: 20px 10px;
}
form.course_entry .btn{
	    margin: 10px;
}
form.modify_score{
	width: 400px;
	margin: 20px auto;
}
form.modify_score .btn{
	height: 30px;
}
.scroll{
	overflow-y: scroll;
}
